$primary-color-soft-red: hsl(7, 99%, 70%);
$primary-color-yellow: hsl(51, 100%, 49%);

// photography text
$color-dark-cyan-1: hsl(167, 40%, 24%);
$color-dark-cyan-2: hsl(168, 34%, 41%);
$color-dark-blue-1: hsl(198, 62%, 26%);
$color-dark-blue-2: hsl(212, 27%, 19%);
$color-gray-blue-1: hsl(213, 9%, 39%);
$color-gray-blue-2: hsl(232, 10%, 55%);
$color-gray-blue-3: hsl(210, 4%, 67%);
$color-white: #fff;

$bg-large: 75em;
$bg-md: 56.25em;
$bg-sm: 37.5em;

// Yellow: hsl(51, 100%, 49%)
// - Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
// - Dark blue (photography text): hsl(198, 62%, 26%)
// - Dark moderate cyan (footer): hsl(168, 34%, 41%)

// ### Neutral

// - Very dark desaturated blue: hsl(212, 27%, 19%)
// - Very dark grayish blue: hsl(213, 9%, 39%)
// - Dark grayish blue: hsl(232, 10%, 55%)
// - Grayish blue: hsl(210, 4%, 67%)
// - White: hsl(0, 0%, 100%)
